<!-- templates/home.html -->

<DOCTYPE html>
    <html>

    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/stylepage1.css">
    </head>

    <body>
        <!-- title-->
        <div class="container title">
            <div class="row">
                <div id="logo" class="col-md-4">
                    <h1>
                        <a href="{{ url_for('index')}}">
                            <p1>CITS5505<p2>Project2</p2>
                            </p1>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="container navigation">
            <div class="row">
                <ul id="navbar" class="nav nav-tabs">
                    <li class="active">
                        <a href="#welcome" data-toggle="tab">Welcome</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- body part-->
        <div class="container content">
            <div id="mytabContent" class="tab-content tabs">
                <div class="tab-pane in active" id="login">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            {% if username %}
                            <p>{{username}}，Welcome to our <a href="{{ url_for('index') }}">web page</a>！</p>
                            {% else %}
                            <p>Welcome！This web is designed by Mingbo Zhang and Yao Ge to demonstrate basic
                                knowledge of statistics and probability. Please register and log in first to experience
                                the
                                features of the next section.</p>
                            <p><a href="{{ url_for('login') }}">login</a> <a href="{{ url_for('regist') }}">regist</a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>
